################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MRNNexus.DTOs/bin/Debug
/MRNNexus.DTOs/bin/Release
/MRNNexus.DTOs/bin
